<header class="navbar">
    <div class="navbar-left">
        <img src="/images/logo.png" alt="Transcaribe Logo" class="logo" >
            <h1>Transcaribe</h1>

        
        <div class="brand">
            
            <nav class="sub-links">
                <a th:href="@{/recarga}">Recargas</a> •
                <a th:href="@{/tarjetas}">Tarjetas</a> •
                <a th:href="@{/historial}">Historial</a> •

            </nav>
        </div>
    </div>

    <div class="navbar-right">
        <a th:href="@{/menu}" class="nav-link">Menú</a>
    </div>
</header>
